body {
  padding-top: 2rem;
  font-family: "Whitney SSm A","Whitney SSm B","Lucida Grande","Lucida Sans",Verdana,Helvetica,Arial,sans-serif;
}
.starter-template {
  padding: 0rem 0rem;
  text-align: center;
}
.time {
	text-align: right;
	font-size: smaller;
}

